<h1>Sign up and sign up</h1>

<form action="<%= users_url%>" method="Post">
  
  <label>username
  <input type="text" name="user[username]">
  </label>
  
  <label>password
  <input type="password" name="user[password]">
  </label>
  
  <input type="submit" value="Create User">
  
</form>