<h1>Sign In and sign In</h1>

<form action="<%= session_url%>" method="Post">
  
  <label>username
  <input type="text" name="user[username]">
  </label>
  
  <label>password
  <input type="password" name="user[password]">
  </label>
  
  <input type="submit" value="Log In Bitches!">
  
</form>